*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* con esta propiedad establecemos que el objeto no afecte su tamaño independiente de las propiedades que se definan, por ejemplo un padding*/
}

/* reponsive de imagenes para CSS vainilla
img{
    max-width: 100%;
}
Para crear el mismo efecto utilizando boostrap utilizamos la clase "img-fluid" dentro de la etiqueta imagen
*/

.fondo{
   background: rgb(211, 109, 211);
}

.letra>ul>li>a{
    color: darkred !important;  /* el !Important nos permite forzar aplicar el estilo personalizado sobre el del framework "boostrap" */
}

.boton-buscar{
    background:black; /*rgba(51, 47, 47, 0.753);*/
    color: white;
}

.boton-buscar:hover{
    background:rgba(51, 47, 47, 0.37);
    color: white;
}

.img-icon{
    height: 40px;
    width: 40px;
    border-radius: 50px;
} 

.fondo-form{
    color:white;
    background: rgb(211, 109, 211);
    background: linear-gradient(top, rgba(176,13,201,1) 0%, rgba(107,7,122,1) 100%);
    background: linear-gradient(to bottom, rgba(176, 13, 201, 0.651) 0%, rgba(107,7,122,1) 100%); 
}

.card-img-top{
    width: 50px;
    height: 50px;
    display: flex;
    align-self: center;
}

.lista-redes{
    list-style-type: none;
}

.img-banner{
    height: 500px;
}